In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('moviereviews.tsv',sep='\t')

In [4]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [5]:
df.dropna(inplace=True)

In [6]:
blanks=[]
for i,lv,rv in df.itertuples():
    if type(lv) == str:
        if lv.isspace():
            blanks.append(i)

In [9]:
df.drop(blanks,inplace=True)

In [10]:
df['label'].value_counts()

neg    983
pos    982
Name: label, dtype: int64

In [12]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [13]:
sid = SentimentIntensityAnalyzer()

In [14]:
df['scores'] = df['review'].apply(lambda review:sid.polarity_scores(review))

In [15]:
df.head()

,label,review,scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co..."

In [17]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [18]:
df.head()

,label,review,scores,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484

In [19]:
df['compound score'] = df['compound'].apply(lambda score: 'pos' if score >=0 else 'neg')

In [20]:
df.head()

,label,review,scores,compound,compound score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg

In [21]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [22]:
accuracy_score(df['label'],df['compound score'])

0.6335877862595419

In [23]:
print(classification_report(df['label'],df['compound score']))

              precision    recall  f1-score   support

         neg       0.72      0.43      0.54       983
         pos       0.60      0.83      0.69       982

    accuracy                           0.63      1965
   macro avg       0.66      0.63      0.62      1965
weighted avg       0.66      0.63      0.62      1965

In [24]:
print(confusion_matrix(df['label'],df['compound score']))

[[427 556]
 [164 818]]